

.rounded{
    border-radius: 20px !important; padding: 10px;
}
.price6{ 
  background: red;
  color: white;

}
.add6{
    border: 1px;
    border-color: #fcca06;
    
}
.border{border: 1px;}
.border-warning{
     border-color: #fcca06;
     border-radius: 40px;
     
     font-size: 11px;
     color: black;
     font-weight: bold;
     
    text-align: center;
    
}
.border-warning a{
    text-decoration: none;
    color: black;
}
.card-title{
    padding-top: 20px;
    font-weight: bold;
}

.text{font-style: italic; padding-bottom: 5px;}

.yescolor{background: #fcca06;}
.addcart{
    margin-left: 70px;
    height: 40px; 
    border: none;
    outline: none 
}
.addprice{width: 65px;text-align: center;}

