.product8{
    &__head{
        background: #546e7a;
        color: white;
   
    }
    &__button{
        padding: 10px 25px;
        border: none;
        outline: none;
        
    }

    &__button1{
        padding: 10px 14px;
        border: none;
        outline: none;
    }

    &__button3{
        padding: 10px 19px;
        border: none;
        outline: none;
    }

}