<div class="col-lg-10">
    <div class="productElements">
        <div class="col main pt-5 mt-3 pr-5">
            <nav class="breadcrumb pt-3 pl-0 pb-3">
                <a class="breadcrumb-item" href="#">Home</a>
                <span class="breadcrumb-item active">Data Table</span>

            </nav>
        </div>
        <div class="row pb-4">
            <div class="col-xm-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="productdatatable__title1 card-title1">Basic Table<a href="">
                                <span class=" float-right fas fa-ellipsis-h"></span></a></h6>
                        <p></p>
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Username</th>
                                        </tr>
                                    </thead>
                                    <tbody class="textgrey">
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Willy</td>
                                            <td>Marky Neo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Josef</td>
                                            <td>Sanam</td>
                                            <td>Josefsanam</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Jenny</td>
                                            <td>Lopez</td>
                                            <td>Jennyfar</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>David</td>
                                            <td>Husssy</td>
                                            <td>David09</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Mike</td>
                                            <td>Strokes</td>
                                            <td>Strokes</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xm-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="productdatatable__title1 card-title1">Border Table<a href="">
                                <span class=" float-right fas fa-ellipsis-h"></span></a></h6>
                        <p></p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody class="textgrey">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Willy</td>
                                    <td>Marky Neo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Josef</td>
                                    <td>Sanam</td>
                                    <td>Josefsanam</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Jenny</td>
                                    <td>Lopez</td>
                                    <td>Jennyfar</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>David</td>
                                    <td>Husssy</td>
                                    <td>David09</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Mike</td>
                                    <td>Strokes</td>
                                    <td>Strokes</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-xm-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="productdatatable__title1 card-title1">Striped Table<a href="">
                                <span class=" float-right fas fa-ellipsis-h"></span></a></h6>
                        <p></p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody class="textgrey">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Willy</td>
                                    <td>Marky Neo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Josef</td>
                                    <td>Sanam</td>
                                    <td>Josefsanam</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Jenny</td>
                                    <td>Lopez</td>
                                    <td>Jennyfar</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>David</td>
                                    <td>Husssy</td>
                                    <td>David09</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Mike</td>
                                    <td>Strokes</td>
                                    <td>Strokes</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xm-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="productdatatable__title1 card-title1">On Hover Table<a href="">
                                <span class=" float-right fas fa-ellipsis-h"></span></a></h6>
                        <p></p>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody class="textgrey">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Willy</td>
                                    <td>Marky Neo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Josef</td>
                                    <td>Sanam</td>
                                    <td>Josefsanam</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Jenny</td>
                                    <td>Lopez</td>
                                    <td>Jennyfar</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>David</td>
                                    <td>Husssy</td>
                                    <td>David09</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Mike</td>
                                    <td>Strokes</td>
                                    <td>Strokes</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xm-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="productdatatable__title1 card-title1">Condensed Table<a href="">
                                <span class=" float-right fas fa-ellipsis-h"></span></a></h6>
                        <p></p>

                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody class="textgrey">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Willy</td>
                                    <td>Marky Neo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Josef</td>
                                    <td>Sanam</td>
                                    <td>Josefsanam</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Jenny</td>
                                    <td>Lopez</td>
                                    <td>Jennyfar</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>David</td>
                                    <td>Husssy</td>
                                    <td>David09</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Mike</td>
                                    <td>Strokes</td>
                                    <td>Strokes</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xm-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="productdatatable__title1 card-title1">Color Table<a href="">
                                <span class=" float-right fas fa-ellipsis-h"></span></a></h6>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-primary">
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Willy</td>
                                    <td>Marky Neo</td>
                                </tr>
                                <tr class="bg-pink">
                                    <th scope="row">2</th>
                                    <td>Josef</td>
                                    <td>Sanam</td>
                                    <td>Josefsanam</td>
                                </tr>
                                <tr class="bg-purple">
                                    <th scope="row">3</th>
                                    <td>Jenny</td>
                                    <td>Lopez</td>
                                    <td>Jennyfar</td>
                                </tr>
                                <tr class="bg-banana">
                                    <th scope="row">4</th>
                                    <td>David</td>
                                    <td>Husssy</td>
                                    <td>David09</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>