<div class="col-lg-10">
    <div class="product8">
        <div class="col main pt-5 mt-3 pr-5 ">
            
            <nav class="breadcrumb pt-3 pl-0 pb-3">
                    <a class="breadcrumb-item" href="#">Home</a>
                    <span class="breadcrumb-item active">Order List</span>
            </nav>
            <div class="row">
                <div class="col-12">
                    <div class="fullcard h-100 ">
                        <div class="product8__title">
                            <div class="product8__status p-3">
                                <h5 class="product8__status--head text-left pl-2">Order List <a href="">
                                        <span class=" float-right fas fa-ellipsis-h"></span></a></h5>
                            </div>
                            <!-- <hr> -->
                        </div>
                        <table class="table">
                            <thead class="product8__head">
                                <tr>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Menu Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Rating</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Steave Jobs</th>
                                    <td>#0547090</td>
                                    <td>Plain Pizza</td>
                                    <td>$29</td>
                                    <td>

                                        <span class="glyphicon glyphicon-star"></span>

                                    </td>
                                    <td>100</td>
                                    <td>
                                        <button class="product8__button badge badge-pill badge badge-success">Paid</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Varun Dhavan</th>
                                    <td>#05457099</td>
                                    <td>Duger</td>
                                    <td>$12</td>
                                    <td></td>
                                    <td>96</td>
                                    <td><button class="product8__button1 badge badge-pill badge badge-warning text-white">Pending</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">Steave Jobs</th>
                                    <td>#8557898</td>
                                    <td>Jumbo Burger</td>
                                    <td>#20</td>
                                    <td></td>
                                    <td>56</td>
                                    <td><button class="product8__button3 badge badge-pill badge badge-danger">Failed</button></td>
                                </tr>
                                <th scope="row">Kazi Fahim</th>
                                <td>#8557898</td>
                                <td>Plain Pizza</td>
                                <td>S29</td>
                                <td></td>
                                <td>22</td>
                                <td><button class="product8__button badge badge-pill badge badge-success">Paid</button></td>
                                <tr>
                                    <th scope="row">Mike Hussy</th>
                                    <td>#85457898</td>
                                    <td>Pasta</td>
                                    <td>$15</td>
                                    <td></td>
                                    <td>10</td>
                                    <td><button class="product8__button badge badge-pill badge badge-success">Paid</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">Kazi Fahim</th>
                                    <td>#8557898</td>
                                    <td>Plain Pizza</td>
                                    <td>S29</td>
                                    <td></td>
                                    <td>100</td>
                                    <td><button class="product8__button badge badge-pill badge badge-success">Paid</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">David Smith</th>
                                    <td>#85578899</td>
                                    <td>Burger</td>
                                    <td>$12</td>
                                    <td></td>
                                    <td>96</td>
                                    <td><button class="product8__button1 badge badge-pill badge-warning text-white">Pending</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">Mike Hussy</th>
                                    <td>#8557898</td>
                                    <td>Soft Drinks</td>
                                    <td>$39</td>
                                    <td></td>
                                    <td>56</td>
                                    <td><button class="product8__button3 badge badge-pill badge badge-danger">Failed</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">Robert Smith</th>
                                    <td>#857898</td>
                                    <td>Jumbo Burger</td>
                                    <td>$20</td>
                                    <td></td>
                                    <td>25</td>
                                    <td><button class="product8__button badge badge-pill badge badge-success">Paid</button></td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>