<div class="col-lg-10">
    <div class="productforms">
        <div class="col main pt-5 mt-3 pr-5">
            <nav class="breadcrumb pt-3 pl-0 pb-3">
                <a class="breadcrumb-item" href="#">Home</a>
                <span class="breadcrumb-item active">Forms</span>

            </nav>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="productforms__title1 card-title1 font-weight-bold">Basic Form<a href="">
                                <span class=" float-right fas fa-ellipsis-h"></span></a></h6>
                        <hr />

                        <div class="row">
                            <div class="col-12">
                                <form>
                                    <div class="productforms__texttitle form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <form>
                                    <div class="productforms__texttitle form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            aria-describedby="passHelp" placeholder="type password">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="productforms__submit btn btn-primary">Submit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="productforms__title1 card-title1 font-weight-bold">Horizontal Form<a href="">
                                <span class=" float-right fas fa-ellipsis-h"></span></a></h6>
                        <hr />

                        <div class="row">
                            <div class="col-12">
                                <form>
                                    <div class="productforms__texttitle form-group row pb-4 pt-4">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                        </div>
                                    </div>

                                    <div class="productforms__texttitle form-group row pb-4">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                        </div>
                                    </div>

                                    <div class="form-group row pb-3">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                                <label class="form-check-label" for="gridCheck1">
                                                    Check Me Out
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row pb-2">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-10">
                                            <button type="submit" class="productforms__login btn btn-red text-light">LOGIN</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="productforms__title1 card-title1 font-weight-bold">Inline Form<a href="">
                                <span class=" float-right fas fa-ellipsis-h"></span></a></h6>
                        <hr />
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <form>
                                    <div class="productforms__texttitle form-group">
                                        <label for="exampleInputEmail2">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail2"
                                            aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="productforms__texttitle form-group">
                                    <label for="exampleInputPassword2">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2"
                                        aria-describedby="passHelp" placeholder="type password">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <div class="productforms__check form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <button type="submit" class="productforms__login1 btn ">LOGIN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="productforms__title1 card-title1 font-weight-bold">Default Form Elements<a href="">
                                <span class=" float-right fas fa-ellipsis-h"></span></a></h6>
                        <hr />
                        <div class="row">
                            <div class="col-12 productforms__content">
                                <div class="row pt-3 pb-4">
                                    <div class="col-xs-12 col-sm-1"></div>
                                    <div class="col-xs-12 col-sm-10">
                                        <div class="productforms__texttitle form-group">
                                            <label for="exampleInputEmail3">Default</label>
                                            <input type="email" class="form-control" id="exampleInputEmail3"
                                                aria-describedby="emailHelp" placeholder="Type something here">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-1"></div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 productforms__content1">
                                <div class="row pt-4 pb-3">
                                    <div class="col-xs-12 col-sm-1"></div>
                                    <div class="col-xs-12 col-sm-10">
                                        <div class="productforms__texttitle form-group">
                                            <label for="helptext">Help text</label>
                                            <input type="text" class="form-control" id="helptext" aria-describedby="passHelp"
                                                placeholder="Type something here">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-1"></div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 productforms__content2">
                                <div class="row pt-4 pb-3">
                                    <div class="col-xs-12 col-sm-1"></div>
                                    <div class="col-xs-12 col-sm-10">
                                        <div class="productforms__texttitle form-group">
                                            <label for="exampleInputPassword3">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword3"
                                                aria-describedby="passHelp" placeholder="* * * * *">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-1"></div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 productforms__content3">
                                <div class="row pt-4 pb-3">
                                    <div class="col-xs-12 col-sm-1"></div>
                                    <div class="col-xs-12 col-sm-10">
                                        <div class="productforms__texttitle form-group">
                                            <label for="round">Round</label>
                                            <input type="password" class="form-control badge-pill" id="round"
                                                aria-describedby="passHelp" placeholder="Type something here...">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-1"></div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 productforms__content4">
                                <div class="row pt-4 pb-3">
                                    <div class="col-xs-12 col-sm-1"></div>
                                    <div class="col-xs-12 col-sm-10">
                                        <div class="form-group">
                                            <label for="errorfield">Error Field</label>
                                            <input type="text" class="productforms__error form-control" id="errorfield"
                                                aria-describedby="passHelp">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-1"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 productforms__content5">
                                <div class="row pt-4 pb-3">
                                    <div class="col-xs-12 col-sm-1"></div>
                                    <div class="col-xs-12 col-sm-10">
                                        <div class="form-group">
                                            <label for="successfulfield">Successful Field</label>
                                            <input type="text" class="productforms__success form-control" id="successfulfield"
                                                aria-describedby="passHelp">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-1"></div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 productforms__content6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-1">

                                    </div>
                                    <div class="col-xs-12 col-sm-10">
                                        <div class="productforms__t row pt-4 pb-3">
                                             Checkboxes , Radious & Switch
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-3">
                                                <div class="productforms__presscircle">
                                                    <div class="productforms__colorblue">
                                                        <label class="el-radio el-radio-sm">
                                                            <span class="margin-r"></span>
                                                            <input type="radio" name="check" checked>
                                                            <span class="el-radio-style skycircle pull-right"></span>
                                                        </label>
                                                    </div>
                                                    <div class="productforms__colorblue1">
                                                        <label class="el-radio el-radio-sm">
                                                            <span class="margin-r"></span>
                                                            <input type="radio" name="check" checked>
                                                            <span class="el-radio-style skycircle pull-right"></span>
                                                        </label>
                                                    </div>
                                                    <div class="productforms__colorblue2">
                                                        <label class="el-radio el-radio-sm">
                                                            <span class="margin-r"></span>
                                                            <input type="radio" name="check" checked>
                                                            <span class="el-radio-style skycircle pull-right"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3">
                                                <div class="productforms__press">
                                                    <div class=" productforms__colorred">
                                                        <label class="el-radio el-radio-sm">
                                                            <span class="margin-r"></span>
                                                            <input type="radio" name="check1" checked>
                                                            <span class="el-radio-style organ pull-right"></span>
                                                        </label>
                                                    </div>
                                                    <div class="productforms__colorred1">
                                                        <label class="el-radio el-radio-sm">
                                                            <span class="margin-r"></span>
                                                            <input type="radio" name="check1" checked>
                                                            <span class="el-radio-style organ pull-right"></span>
                                                        </label>
                                                    </div>
                                                    <div class="productforms__colorred2">
                                                        <label class="el-radio el-radio-sm">
                                                            <span class="margin-r"></span>
                                                            <input type="radio" name="check1" checked>
                                                            <span class="el-radio-style organ pull-right"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <label class="el-switch el-switch-lg">
                                                    <span class="margin-r"></span>
                                                    <input type="checkbox" name="switch" checked>
                                                    <span class="el-switch-style blue pull-right"></span>
                                                </label>
                                                <label class="el-switch el-switch-lg">
                                                    <span class="margin-r"></span>
                                                    <input type="checkbox" name="switch" checked>
                                                    <span class="el-switch-style purple pull-right"></span>
                                                </label>
                                                <label class="el-switch el-switch-lg">
                                                    <span class="margin-r"></span>
                                                    <input type="checkbox" name="switch" checked>
                                                    <span class="el-switch-style organe pull-right"></span>
                                                </label>
                                                <label class="el-switch el-switch-lg">
                                                    <span class="margin-r"></span>
                                                    <input type="checkbox" name="switch" checked>
                                                    <span class="el-switch-style green organe pull-right"></span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-12 col-sm-1"></div>
                                </div>
                                <div class="row">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>