<div class="col-lg-10">
    <div class="product11">
        <div class="col main pt-5 mt-3 pr-5">

            <nav class="breadcrumb pt-3 pl-0 pb-3">
                <a class="breadcrumb-item" href="#">Home</a>
                <span class="breadcrumb-item active">Calendar</span>

            </nav>
        </div>
        <div class="row mb-4">
            <div class="col-xs-12 col-sm-4">
                <div class="card product11__calendar">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="titlehead pl-2">
                                <span class="mouthstart"><b>October</b></span>
                                <span class="yearstart"><b>2018</b></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="row product11__movedatapicker">
                                <div class='col-xs-6'><button class="product11__previously border border-warning">
                                        < </button> </div> <div class='col-xs-6'><button class="product11__sequent border border-warning">
                                                > </button></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="datetimepicker6">

                </div>

            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="product11__note">
                        <div class="card-body">
                            <h6 class="product10__title1 card-title1">Calendar Note<a href="">
                                    <span class=" float-right fas fa-ellipsis-h"></span></a></h6>
                            <hr />
                            <div class="row pt-2 pl-3">
                                <div class="product11__datemounth">
                                    <h5 class="product11__title2">Tuesday</h5>
                                    <p class="product11__dated">4 October,2016</p>
                                </div>


                            </div>
                            <div class="product11__contenthead row pt-3 pl-3 pb-3 mb-2" style="background: #f5f5f5;">

                                <div class="col-xs-4 col-sm-4">
                                    <span class="product11__font">10.30 AM</span>
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <span class="product11__font">Meet My Close Friend</span>
                                </div>
                                <div class="col-xs-2 col-sm-2">
                                    <i class="product11__close fa fa-times fa-1x" aria-hidden="true"></i>
                                </div>
                            </div>



                            <div class="product11__contenttail row pt-3 pl-3 pb-3" style="background: #f5f5f5;">

                                <div class="col-sm-4">
                                    <span class="product11__font"> 12.30 AM</span>
                                </div>
                                <div class="col-sm-6">
                                    <span class="product11__font"> Lunch With My Wife</span>
                                </div>
                                <div class="col-sm-2">
                                    <i class="product11__closetail fa fa-times fa-1x" aria-hidden="true"></i>
                                </div>


                            </div>
                            <div class="row p-3">
                                <button class="product11__addnote btn btn-primary">+ADD NOTE HERE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="product10__title1 card-title1">Event Schdule<a href="">
                                <span class=" float-right fas fa-ellipsis-h"></span></a></h6>
                        <hr>
                        <div class="row ml-1">
                            <div class="col-12 product11__border">
                                <div class="row">
                                    <span class="product11__colorpurple badge-primary">29/01/17</span>
                                </div>
                                <div class="row pt-3 pb-3">
                                    <span class="product11__text">Eimply dummy text of the printing and typesetting</span>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-1 mt-3">
                            <div class="col-12 product11__border">
                                <div class="row">
                                    <span class="product11__colorblue badge-info">20/01/17</span>
                                </div>
                                <div class="row pt-3 pb-3">
                                    <span class="product11__text">Eimply dummy text of the printing and typesetting</span>
                                </div>
                            </div>
                        </div>
                        <div class="row  ml-1 mt-3">
                            <div class="col-12 ">
                                <div class="row">
                                    <span class="product11__colorred badge-danger">19/01/17</span>
                                </div>
                                <div class="row pt-3">
                                    <span class="product11__text">Eimply dummy text of the printing and typesetting</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- calendar big -->
        <div class="row">
            <div class="col-12">
                <div class="card product11__calendar col-9">
                    <div class="row">

                        <div class="col-xs-12 col-sm-8">
                            <div class="title">
                                <span class="month"><b>October</b></span>
                                <span class="year"><b>2018</b></span>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="row product11__move">
                                <div class='col-xs-6 '><button class="product11__prev border border-warning">
                                        < </button> </div> <div class='col-xs-6'><button class="product11__next border border-warning">
                                                > </button></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="datetimepicker5">

                </div>
            </div>
        </div>
    </div>
</div>