<!-- <div class="contentcenter"> -->
    <div class="col main pt-5 mt-3 pr-5 " >
        <p style="padding-top: 20px;">Home <span>Products_02</span></p>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 images">
                                <img src="./assets/images/pizza.png">
                            </div>
                            <div class="col-sm-6" id="colu">
                                <h6 class="card-title">Supreme Pizza</h6>
                                <p class="text">Vimply dummy text printing and typesetting indust</p>
                            </div>
                            <div class="col-sm-2" id="colu1">
                                <div class="cl"><span class="rounded price product1">$39</span></div>

                            </div>
                            <div class="col-sm-2" id="colu2">
                                <div class="widthadd"> <span class="border border-warning yescolor"><a href="#">ADD TO
                                            CART</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 images">
                                <img src="./assets/images/beef.png">
                            </div>
                            <div class="col-sm-6" id="colu">
                                <h6 class="card-title">Beef Burger</h6>
                                <p class="text">Vimply dummy text printing and typesetting indust</p>
                            </div>
                            <div class="col-sm-2" id="colu1">
                                <div class="cl"><span class="rounded price product1">$39</span></div>
                            </div>
                            <div class="col-sm-2" id="colu2">
                                <div class="widthadd"> <span class="border border-warning yescolor"><a href="#">ADD TO
                                            CART</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 images">
                                <img src="./assets/images/masala.png">
                            </div>
                            <div class="col-sm-6" id="colu">
                                <h6 class="card-title">Masala Pizza</h6>
                                <p class="text">Vimply dummy text printing and typesetting indust</p>
                            </div>
                            <div class="col-sm-2" id="colu1">
                                <div class="cl"><span class="rounded price product1">$39</span></div>
                            </div>
                            <div class="col-sm-2" id="colu2">
                                <div class="widthadd"> <span class="border border-warning yescolor"><a href="#">ADD TO
                                            CART</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 images">
                                <img src="./assets/images/supreme.png">
                            </div>
                            <div class="col-sm-6" id="colu">
                                <h6 class="card-title">Supreme Pizza</h6>
                                <p class="text">Vimply dummy text printing and typesetting indust</p>
                            </div>
                            <div class="col-sm-2" id="colu1">
                                <div class="cl"><span class="rounded price product1">$39</span></div>
                            </div>
                            <div class="col-sm-2" id="colu2">
                                <div class="widthadd"> <span class="border border-warning yescolor"><a href="#">ADD TO
                                            CART</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 images">
                                <img src="./assets/images/sub.png">
                            </div>
                            <div class="col-sm-6" id="colu">
                                <h6 class="card-title">Sub Sandwich</h6>
                                <p class="text">Vimply dummy text printing and typesetting indust</p>
                            </div>
                            <div class="col-sm-2" id="colu1">
                                <div class="cl"><span class="rounded price product1">$39</span></div>
                            </div>
                            <div class="col-sm-2" id="colu2">
                                <div class="widthadd"> <span class="border border-warning yescolor"><a href="#">ADD TO
                                            CART</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 images">
                                <img src="./assets/images/pizza.png">
                            </div>
                            <div class="col-sm-6" id="colu">
                                <h6 class="card-title">Supreme Pizza</h6>
                                <p class="text">Vimply dummy text printing and typesetting indust</p>
                            </div>
                            <div class="col-sm-2" id="colu1">
                                <div class="cl"><span class="rounded price product1">$39</span></div>
                            </div>
                            <div class="col-sm-2" id="colu2">
                                <div class="widthadd"> <span class="border border-warning yescolor"><a href="#">ADD TO
                                            CART</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->