<div class="col main pt-5 mt-3 pr-5">
    <p style="padding-top: 20px;">Home <span>Products_02</span></p>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="padding-top: 30px;"> <a href="#"><img src="./assets/images/pizza.png"></a>
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="card-title">Supreme Pizza</h5>
                                    <p class="text">Vimply dummy text printing and typesetting indust</p>
                                    <p class="pricesale">
                                       <span class="rounded price6 addprice">$39</span>
                                       <button class="border-warning yescolor addcart ">ADD TO CART</button>
                                      
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="padding-top: 30px;"> <a href="#"><img src="./assets/images/beef.png"></a>
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="card-title">Jumbo Burger</h5>
                                    <p class="text">Vimply dummy text printing and typesetting indust</p>
                                    <p>
                                        <span class="rounded price6 addprice">$19</span>
                                       <button class="border-warning yescolor addcart ">ADD TO CART</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="padding-top: 30px;"> <a href="#"><img src="./assets/images/masala.png"></a>
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="card-title">Chicken Pizza</h5>
                                    <p class="text">Vimply dummy text printing and typesetting indust</p>
                                    <p>
                                        <span class="rounded price6 addprice">$39</span>
                                       <button class="border-warning yescolor addcart ">ADD TO CART</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="padding-top: 30px;"> <a href="#"><img src="./assets/images/pizza.png"></a>
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="card-title">Supreme Pizza</h5>
                                    <p class="text">Vimply dummy text printing and typesetting indust</p>
                                    <p>
                                        <span class="rounded price6 addprice">$39</span>
                                       <button class="border-warning yescolor addcart ">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="padding-top: 30px;"> <a href="#"><img src="./assets/images/pizza.png"></a>
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="card-title">Supreme Pizza</h5>
                                    <p class="text">Vimply dummy text printing and typesetting indust</p>
                                    <p>
                                        <span class="rounded price6 addprice">$39</span>
                                        <button class="border-warning yescolor addcart ">ADD TO CART</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="padding-top: 30px;"> <a href="#"><img src="./assets/images/pizza.png"></a>
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="card-title">Supreme Pizza</h5>
                                    <p class="text">Vimply dummy text printing and typesetting indust</p>
                                    <p>
                                        <span class="rounded price6 addprice">$39</span>
                                       <button class="border-warning yescolor addcart ">ADD TO CART</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="padding-top: 30px;"> <a href="#"><img src="./assets/images/pizza.png"></a>
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="card-title">Supreme Pizza</h5>
                                    <p class="text">Vimply dummy text printing and typesetting indust</p>
                                    <p>
                                        <span class="rounded price6 addprice">$39</span>
                                        <button class="border-warning yescolor addcart ">ADD TO CART</button>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="padding-top: 30px;"> <a href="#"><img src="./assets/images/pizza.png"></a>
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="card-title">Supreme Pizza</h5>
                                    <p class="text">Vimply dummy text printing and typesetting indust</p>
                                    <p>
                                        <span class="rounded price6 addprice">$39</span>
                                       <button class="border-warning yescolor addcart ">ADD TO CART</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="padding-top: 30px;"> <a href="#"><img src="./assets/images/pizza.png"></a>
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="card-title">Supreme Pizza</h5>
                                    <p class="text">Vimply dummy text printing and typesetting indust</p>
                                    <p>
                                        <span class="rounded price6 addprice">$39</span>
                                       <button class="border-warning yescolor addcart ">ADD TO CART</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>