    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="./assets/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
     <!-- 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
     <script src="./assets/lib/Simple-Toggle-Switch-Plugin-With-jQuery-Bootstrap-Bootstrap-Switch/bootstrap-switch.js"></script>  -->
     <script src="./scripts/jquery.lineProgressbar.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> 
   <script src="./assets/lib/Customizable-Interactive-Toggle-Switch-Plugin-jQuery-btnSwitch/dist/jquery.btnswitch.min.js"></script>
    <script src="./scripts/script.js "></script>
  </body>
</html>   