<!doctype html>
<html lang="en">

<head>
  <title>Food Palace</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="./assets/lib/jquery-ui-1.12.1.custom/jquery-ui.min.css">
  <link rel="stylesheet" href="./assets/lib/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="./assets/lib/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="./assets/lib/el-checkbox-master/dist/checkbox.min.css">
  <link rel="stylesheet" href="./assets/lib/Customizable-Interactive-Toggle-Switch-Plugin-jQuery-btnSwitch/dist/jquery.btnswitch.min.css">
  <!-- <link rel="stylesheet" href="./assets/lib/icheck-material-master/icheck-material.min.css"> -->
 
  



</head>

<body>