<div class="row mt-4">
    <div class="col-lg-6">
        <div class="fullcard h-100 ">
            <div class="activity box">
                <div class="activity__status p-3">
                    <h3 class="activity__status--heading text-left pl-2">To Do Task List<a href=""><span class=" float-right fas fa-ellipsis-h"></span></a></h3>
                </div>
                <hr>
            </div>
            <div class="box-body mt-0">
                <ul class="todo-list ui-sortable">
                    <li>
                        <input class="ml-2" type="checkbox" name="" id="">
                        <span class="text pl-2">Dimply dummy text of the printing and typesetting industry</span>
                        <div class="todo-list__tools float-right">
                            <button type="button" class="todo-list__tools--edit"><i class="fas fa-pen"></i></button>
                            <button type="button" class="todo-list__tools--delete"><i class="fas fa-times"></i></button>
                            <button type="button" class="todo-list__tools--more"><i class="fas fa-ellipsis-v"></i></button>
                        </div>
                    </li>
                    <li>

                        <input class="ml-2" type="checkbox" value="" name="">
                        <span class="text pl-2">Dimply dummy text of the printing and typesetting industry</span>

                        <div class="todo-list__tools float-right">
                            <button type="button" class="todo-list__tools--edit"><i class="fas fa-pen"></i></button>
                            <button type="button" class="todo-list__tools--delete"><i class="fas fa-times"></i></button>
                            <button type="button" class="todo-list__tools--more"><i class="fas fa-ellipsis-v"></i></button>
                        </div>
                    </li>
                    <li>

                        <input class="ml-2" type="checkbox" value="" name="">
                        <span class="text pl-2">Dimply dummy text of the printing and typesetting industry</span>

                        <div class="todo-list__tools float-right">
                            <button type="button" class="todo-list__tools--edit"><i class="fas fa-pen"></i></button>
                            <button type="button" class="todo-list__tools--delete"><i class="fas fa-times"></i></button>
                            <button type="button" class="todo-list__tools--more"><i class="fas fa-ellipsis-v"></i></button>
                        </div>
                    </li>
                    <li>

                        <input class="ml-2" type="checkbox" value="" name="">
                        <span class="text pl-2">Dimply dummy text of the printing and typesetting industry</span>
                        <div class="todo-list__tools float-right">
                            <button type="button" class="todo-list__tools--edit"><i class="fas fa-pen"></i></button>
                            <button type="button" class="todo-list__tools--delete"><i class="fas fa-times"></i></button>
                            <button type="button" class="todo-list__tools--more"><i class="fas fa-ellipsis-v"></i></button>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="box-footer clearfix no-border ">

                <div class="row">
                    <div class="col-md-2 mr-0 justify-content-center">
                        <button type="button mr-2" class="btn ml-2">Select All</button>
                    </div>
                    <div class="col-md-7">
                        <form class="form-inline">
                            <input class="form-control w-100" type="text" placeholder="Search Here...">
                        </form>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center">
                        <button type="button" class="btn mr-2 btn--add">ADD TASK</button>

                    </div>
                </div>


            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="fullcard h-100 ">
            <div class="activity">
                <div class="activity__status p-3">
                    <h3 class="activity__status--heading text-left pl-2">Received Order List<a href=""><span class=" float-right fas fa-ellipsis-h"></span></a></h3>
                </div>
                <hr>
            </div>
            <div class="box-body">
                    <table class="table orderList">
                            <thead class="orderList__head">
                                <tr>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody class="orderList__body">
                                <tr>
                                    <th scope="row">Steve Jobs</th>
                                    <td>#85457898</td>
                                    <td>Plain Pizza</td>
                                    <td>10</td>
                                    <td><span class="badge badge-success">Paid</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Varun Dhavan</th>
                                    <td>#85457899</td>
                                    <td>Burger</td>
                                    <td>05</td>
                                    <td><span class="badge badge-warning text-white">Pending</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Kazi Fahim</th>
                                    <td>#85457890</td>
                                    <td>Soft Drinks</td>
                                    <td>12</td>
                                    <td><span class="badge badge-danger">Failed</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Steave Jobs</th>
                                    <td>#85457891</td>
                                    <td>Jumbo Burger</td>
                                    <td>10</td>
                                    <td><span class="badge badge-success">Paid</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Mike Hussy</th>
                                    <td>#85457892</td>
                                    <td>Pasta</td>
                                    <td>15</td>
                                    <td><span class="badge badge-success text-center">Paid</span></td>
                                </tr>
                                
                            </tbody>
                        </table>
            </div>
        </div>

    </div>
</div>