<nav class="navbar navbar-expand-lg navbar-light d-flex">
    <div class="headerbar-left">
        <a class="navbar-brand" href="#"> <img src="./assets/images/logoBrand.png"> FoodPalace </a>
    </div>
    <button type="button" class="navbar-toggler mr-2 " data-toggle="offcanvas" title="Toggle responsive left sidebar" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline  my-lg-0 flex-grow-1">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-search my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <ul class="list-inline mb-0 mr-md-auto d-flex align-items-center">
        <li class="list-inline-item">
            <span class="circle ">
                <div class="notify">
                  <i class="fas fa-globe-asia"></i>
                </div>
            </span>
        </li>
        <li class="list-inline-item dropdown">
            <a class="nav-link dropdown-toggle selectLang link-unstyled d-flex justify-content-center align-items-center" href="#" id="dropdownLanguage" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>English</i></span>
                <i class="fas fa-caret-down p-2"></i>
            </a>
            <div class="dropdown-menu border-light" aria-labelledby="dropdownLanguage">
                <a class="dropdown-item" href="#">Vietnamese</a>
                <a class="dropdown-item" href="#">Chinese</a>
                <a class="dropdown-item" href="#">Japanese</a>
            </div>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-md-auto px-0 bg-white" id="navbarSupportedContent">
        <ul class="list-inline navbar-nav mb-0 ml-md-auto d-sm-flex flex-sm-row float-sm-left pr-3">
            <li class="list-inline-item navbar-item">
                <span class="circle">
                    <div class="notify">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="notify_bubble--cart">5</span>
                    </div>
                </span>
            </li>
            <li class="list-inline-item navbar-item">
                <span class="circle">
                    <div class="notify">
                        <i class="far fa-envelope"></i>
                        <span class="notify_bubble--mail">5</span>
                    </div>
                </span>
            </li>
            <li class="list-inline-item navbar-item">
                <span class="circle">
                    <div class="notify">
                        <i class="far fa-bell"></i>
                        <span class="notify_bubble--noti">8</span>
                    </div>
                </span>
            </li>
        </ul>
        <div class="dropdown dropdown-left">
            <button class="btn-account d-md-flex" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="circle">
                    <img src="./assets/images/userLogo1.png" alt="user">
                </span>
                <span class="account-summary pr-lg-4 d-none d-lg-block">
                    <span class="account-name">Kazi Fahim <i class="fas fa-chevron-down"></i></span>

                    <span class="account-description">Author</span>
                </span>
            </button>
            <div class="dropdown-menu">
                <h6 class="dropdown-header d-none d-md-block d-lg-none "> Beni Arisandi </h6>
                <a class="dropdown-item" href="user-profile.html">
                    <span class="dropdown-icon oi oi-person"></span> Profile</a>
                <a class="dropdown-item" href="auth-signin-v1.html">
                    <span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="index.htm#">Help Center</a>
                <a class="dropdown-item" href="index.htm#">Ask Forum</a>
                <a class="dropdown-item" href="index.htm#">Keyboard Shortcuts</a>
            </div>
        </div>
    </div>
    <div class="dropdown-menu">
        <h6 class="dropdown-header d-none d-md-block d-lg-none "> Beni Arisandi </h6>
        <a class="dropdown-item" href="user-profile.html">
            <span class="dropdown-icon oi oi-person"></span> Profile</a>
        <a class="dropdown-item" href="auth-signin-v1.html">
            <span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="index.htm#">Help Center</a>
        <a class="dropdown-item" href="index.htm#">Ask Forum</a>
        <a class="dropdown-item" href="index.htm#">Keyboard Shortcuts</a>
    </div>
    </div>
</nav>