<div class="col-lg-2 sidebar-offcanvas pl-0" id="sidebar" role="navigation">
    <ul class="sidebar-left nav flex-column pl-0 mt-5 pt-3 ">
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span>
            </a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-th-large"></i> <span>Product</span></a></li>   
        <li class="nav-item"><a class="nav-link" href="#"><i class="far fa-star"></i> <span>Favourite</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-list-ul"></i> <span>Order List</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-table"></i> <span>Booking System</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-upload"></i> <span>Upload Menu</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="far fa-chart-bar"></i> <span>Charts</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="far fa-calendar-alt"></i> <span>Celendar</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="far fa-clone"></i> <span>UI Elements</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-list-ul"></i> <span>Forms</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-th-list"></i> <span>Data</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="far fa-envelope"></i> <span>Email</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-cog"></i> <span>Profile</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="far fa-map"></i> <span>Map</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-lock"></i> <span>Login</span></a></li>
    </ul>
</div>