<div class="row mb-3">
        <div class="col-lg-6 col-sm-12">
            <div class="row staticCard">
                <div class="col-md-6  pb-2 mb-3">
                    <div class="card staticCard--dark text-white ">
                        <div class="card-body ">

                            <img src="./assets/images/dashBoardLogo1.png">
                            <h1 class="display-5 text-center">1,1010</h1>
                            <h6 class="text-center">Weekly New Menu's</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  pb-2">
                    <div class="card staticCard--purple  text-white ">
                        <div class="card-body ">

                            <img src="./assets/images/dashBoardLogo2.png">
                            <h1 class="display-5 text-center">2,999</h1>
                            <h6 class="text-center">Last New Menu's</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row staticCard">
                <div class="col-md-6">
                    <div class="card staticCard--yellow text-white ">
                        <div class="card-body ">

                            <img src="./assets/images/dashBoardLogo3.png">
                            <h1 class="display-5 text-center">1,999</h1>
                            <h6 class="text-center">Today's Total Earning</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card staticCard--red text-white ">
                        <div class="card-body ">

                            <img src="./assets/images/dashBoardLogo4.png">
                            <h1 class="display-5 text-center">1,399</h1>
                            <h6 class="text-center">Total Order Received</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-12 bg-white">
            <canvas id="myChart"></canvas>
            <!-- <div class="card bg-light h-100 ">
                <div class="card-body bg-light">
                    <div class="rotate">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Users</h6>
                    <h1 class="display-4">134</h1>
                </div>
            </div> -->
        </div>
    </div>