<div class="row pt-4">
    <div class="col-md-4">
        <div class="cardWeather">
            <div class="city">Eindhoven</div>
            <div class="date">29 selitember 2015</div>
            <div class="weather">
                
                <div class="weather__icon d-flex ">
                        <span class="text-white align-self-center">21°C<br>
                            <span class="weather__icon--des ml-0">mostly cloud</span>
                        </span>
                        <img class="ml-auto mr-3" src="./assets/images/cloud.png" alt="cloud">
                    </div>
            </div>
        </div>
        <div class="foreCast">
            <ul class="day text-center pl-0 list-unstyled">
                <li class="name">Sun</li>
                <li class="wi"><i class="far fa-sun"></i></li>
                <li class="high-low ">32°</li>

            </ul>
            <ul class="day text-center pl-0 list-unstyled">
                <li class="name">Mon</li>
                <li class="wi"><i class="fas fa-umbrella"></i></li>
                <li class="high-low">78° / 52°</li>

            </ul>
            <ul class="day text-center pl-0 list-unstyled">
                <li class="name">Tus</li>
                <li class="wi"><i class="fas fa-cloud"></i></li>
                <li class="high-low">102° / 81°</li>

            </ul>
            <ul class="day text-center pl-0 list-unstyled">
                <li class="name">Wed</li>
                <li class="wi"><i class="fas fa-tint"></i></li>
                <li class="high-low">12° / -2°</li>

            </ul>
            <ul class="day text-center pl-0 list-unstyled">
                <li class="name">Thus</li>
                <li class="wi"><i class="far fa-sun"></i></li>
                <li class="high-low">12° / -2°</li>

            </ul>
            <ul class="day text-center pl-0 list-unstyled">
                <li class="name">Fri</li>
                <li class="wi"><i class="fas fa-umbrella"></i></li>
                <li class="high-low">12° / -2°</li>

            </ul>

        </div>
    </div>
    <div class="col-md-4">
        <div id="datetimepicker5"></div>
    </div>
    <div class="col-md-4">
        <div class="fullcard h-100 ">
            <div class="activity">
                <div class="activity__status p-3">
                    <h3 class="activity__status--heading text-left pl-2">Current Progress<a href=""></a></h3>
                </div>
                <hr>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td class="table__name" scope="row">Bootstrap Admin</td>
                        <td>
                            <div class="progress progress-small">
                                <div class="bar progress--b4"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table__name" scope="row">Custom Work</td>
                        <td>
                            <div class="progress progress-small">
                                <div class="bar progress--work"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table__name" scope="row">Clients Module</td>
                        <td>
                            <div class="progress progress-small">
                                <div class="bar progress--client"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table__name" scope="row">Email Templates</td>
                        <td>
                            <div class="progress progress-small">
                                <div class="bar progress--mail"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table__name" scope="row">Plans Module</td>
                        <td>
                            <div class="progress progress-small">
                                <div class="bar progress--module"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>