<!-- head -->
{% include "../components/_head.twig" %}
<!-- navigation -->
{% include "../components/_navigation.twig"%}

<!-- mainprduct -->
<div class="container-fluid" id="main">
        <div class="row row-offcanvas row-offcanvas-left">
                <!-- Side Menu -->
                {% include "../components/_sidemenu.twig" %}
                <!-- Main Content -->
                {% include "../components/product/_product10.twig"%}
            </div>
        </div>
     <!-- foot -->
<!-- foot -->
{% include "../components/_foot.twig"%}